<?xml version="1.0" encoding="utf-8"?>
<!--To remove any Build Warnings or messages set cursor in this config file's text, Open XML menu item, select Schemas -->
<!--find log4net.xsd (under filename) and add it by selecting use.  If not there, then hit the add button, log4net.xsd is in this project-->

<!--Set debug = true to debug Log4net logging issues-->
<log4net debug="false">
  <root>
    <!--Change level value to ERROR to disable Logging of DEBUG messages if IIS hosted app will need to recycle app pool-->
    <level value="DEBUG"/>
    <appender-ref ref="ADONetAppender" />
    <!--Uncomment ConsoleAppender if you want to write to a logfile-->
    <!--<appender-ref ref="ConsoleAppender" />-->
  </root>
   <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=HQ-DEVSQL2\ErmsDev;Initial Catalog=EnterpriseLogging;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"/>
    <commandText value="INSERT INTO [Ent].[AppLog] ([HostName],[ApplicationName],[MemberName],[DateTime],[AppUserName],[CorrelationId],[Message],[Exception],[SourceFilePath],[SourceLineNumber],[Level],[ReplayId]) VALUES (@HostName, @ApplicationName, @memberName, @log_date, @AppUserName, @CorrelationId, @message, @exception, @sourceFilePath, @sourceLineNumber, @log_level, @replayId)" />
    <parameter>
      <parameterName value="@HostName" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ApplicationName" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ApplicationName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@MemberName" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{MemberName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@AppUserName" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" >
        <conversionPattern value="%property{AppUserName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@CorrelationId" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="CorrelationId"  />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@SourceFilePath" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{SourceFilePath}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@SourceLineNumber" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="SourceLineNumber" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ReplayId" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ReplayId" />
      </layout>
    </parameter>
  </appender>
</log4net>
