<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->

<!--To remove any Build Warnings or messages set cursor in this config file's text, Open XML menu item, select Schemas 
    find log4net.transform.xsd and log4net.transform1.xsd (under filename) and add them by selecting use.
    If not there, then hit the add button, the files are in this project-->

<log4net debug ="false" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appender name="ADONetAppender"
            type="log4net.Appender.AdoNetAppender"
            xdt:Locator="Match(name)">
    <connectionString value="Data Source=hq-sql1;Initial Catalog=EnterpriseLogging;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"
            xdt:Transform="Replace"/>
  </appender>

</log4net>
